.navbar {
    display: flex;
    background-image: linear-gradient(to bottom left, #266188, #051f20);
    font-size: 19px;
}

.navbar2 {
    margin-left: 3%;
    height: 20%;
    font-size: 23px;
}

@media(max-width: 500px) {
    .navbar {
        height: 45px;
    }

    .navbar2 {
        margin: 5% 0 0 12%;
        height: 20%;
        font-size: 23px;
    }
}