.drawer-toogle {
    display: flex;
    flex-direction: column;
}

.drawer-toogle div {
    width: 100%;
    height: 3px;
    color: white;
}

@media(min-width: 500px) {
    .drawer-toogle{
        display: none;
    }
}