.side-drawer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: 500;
    background-color: #214055;
    font-size: 19px;
    transition: transform 0.3s ease-out;
}

.closed {
    transform: translateX(-100%);
}

.open {
    transform: translateX(0);
}

@media(min-width: 500px) {
    .side-drawer {
        display: none;
    }
}