.input {
    display: flex;
    margin: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input i {
    position: relative;
    top: -22px;
    left: 46%;
}

.label {
    margin-bottom: 10px;
}

.inputElement {
    width: 300px;
    padding: 10px;
    border: none;
	border-bottom: 1px solid #37474F;
	margin-top: 10px;
    background-color: transparent;
    color: #d9d9d9;
}

.inputElement:focus, input:focus {
    outline: none;
    border-bottom-color : #0289d1;
    animation: focus-animation 1.5s;
    animation-timing-function: ease;
}

.invalid {
    outline: none;
    border-bottom-color:#ff56228f;
}

@keyframes focus-animation {
    from {border-bottom-color: #37474F;}
    to {border-bottom-color: #0288D1;}
}

.error-message {
	height: 0.75em;
	margin: 11px 0 0 10px;
	align-self: flex-start;
	font-size: 0.8em;
}