.auth {
    display: flex;
    width: 50%;
    margin: 9% 0 0 23%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth h2 {
    font-size: 1.5em;
    margin: 10px;
}

.error-message {
    margin-bottom: 30px;
}
.error-message i {
    position: relative;
    top: -16px;
    left: 100%;
    margin-left: 8px;
}

.auth-mode-button {
    margin: 15px;
}