.navigation-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}

.navigation-items2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}